<%- include('../partials/header') %>



<div class="ui four column doubling grid container">
	<div class="column centered">
		<div class="ui dashboard card">
			<img
				class="ui centered small image"
				src="/img/as-search-icon-.png"
				style="background-color: white;"
			/>
			<div class="content">
				<div class="center aligned header">Search Products</div>
			<div class="center aligned author">
					
<p class="dashboard-card-text">Browse hunderds of unique items created by our approved suppliers</p>
				</div>
			</div>
			<div class="extra content">
				   <div class="center aligned author">
					   	<a href="/admin/<%= currentUser.id %>/search" class="ui basic orange button">
					Search products
				</a>
				</div>
			
			</div>
		</div>
	</div>
	<div class="column centered">
		<div class="ui dashboard card">
			<img
				class="ui centered small image"
				src="/img/as-export-icon-.png"
				style="background-color: white;"
			/>
			<div class="content">
				<div class="center aligned header">Export Products</div>
			<div class="center aligned author">
					
<p class="dashboard-card-text">Easily export your Artisanship products to a csv file in your desired format</p>
				</div>
			</div>
			<div class="extra content">
				   <div class="center aligned author">
					   	<a href="/admin/<%= currentUser.id %>/export" class="ui basic orange button">
					Export products
				</a>
				</div>
			
			</div>
		</div>
	</div>
	<div class="column centered">
		<div class="ui dashboard card">
			<img 
				class="ui centered small image"
				src="/img/as-order-icon-.png"
				style="background-color: white;"
			/>
			<div class="content">
				<div class="center aligned header">Manage your Orders</div>
			<div class="center aligned author">
					
<p class="dashboard-card-text">Manage your pending orders with the supplier</p>
				</div>
			</div>
			<div class="extra content">
				   <div class="center aligned author">
					   	<a href="/admin/<%= currentUser.id %>/orders" class="ui basic orange button">
					Manage orders
				</a>
				</div>
			
			</div>
		</div>
	</div>
	<div class="column centered">
		<div class="ui dashboard card">
			<img
				class="ui centered small image"
				src="/img/as-connect-icon-.png"
				style="background-color: white;"
			/>
			<div class="content">
				<div class="center aligned header">Connect With Creators</div>
			<div class="center aligned author">
					
<p class="dashboard-card-text">Browse hunderds of unique items created by our approved suppliers</p>
				</div>
			</div>
			<div class="extra content">
				   <div class="center aligned author">
					   	<a href="/admin/<%= currentUser.id %>/search" class="ui basic orange button">
					Find Creators
				</a>
				</div>
			
			</div>
		</div>
	</div>
</div>