<%- include('../partials/header') %>

<div class="ui container" style="padding: 0px;">
	<div class="ui two column centered  grid">

		<div class="ten wide column">
			<form class="ui form" action="/admin/<%= currentUser.id %>/change" method="POST" id="password-form">
				<div class="ui main text container segment">
					<div class="three fields">
						<div class="six wide field">
							<label>Change Password</label>

							<input type="password" name="oldPassword" placeholder="Old Password" required>
						</div>
						<div class="six wide field">
							<br>

							<input type="password" name="newPassword" id="newPassword" placeholder="New Password"
								required>
						</div>
						<div class="six wide field">
							<br>

							<input type="password" name="newPasswordConfirm" id="newPasswordConfirm"
								placeholder="Confirm New Password" required>
						</div>


					</div>
					<div class="ui error message" id="passwordNotEqual" style="display: none;">
						<div class="header">Password error</div>
						<p>Please make sure your new passwords match</p>
					</div>

					<button class="ui orange  button" type="submit">
						<i class="edit icon"></i>Change Password </button>
				</div>

			</form>



			<div class="ui main text container segment">
				<form class="ui form" action="/admin/<%= currentUser.id %>/company_update?_method=PUT" method="POST">
					<div class="three fields">
						<div class="six wide field">
							<label>Company Information</label>
							<label>Company Logo</label>
							<input type="url" name="companyLogo" value="<%= userInfo.company_logo %> ">
						</div>
						<div class="six wide field">
							<br>
							<label>Company Name</label>
							<input type="text" name="companyTitle" value="<%= userInfo.company_title %>">
						</div>

					</div>

					<button class="ui orange  button" type="submit">
						<i class="edit icon"></i>Update information </button>
				</form>
			</div>


			<div class="ui main text container segment">
				<form class="ui form" action="/admin/<%= currentUser.id %>/person_update?_method=PUT" method="POST">
					<div class="three fields">
						<div class="six wide field">
							<label>User Information</label>
							<label>Avatar</label>
							<input type="url" name="userAvatar" value="<%= userInfo.avatar %>">
						</div>
						<div class="six wide field">
							<br>
							<label>Role</label>
							<input type="text" name="role" value="<%= userInfo.role %>">
						</div>

					</div>

					<button class="ui orange  button" type="submit">
						<i class="edit icon"></i>Update information </button>

				</form>
			</div>

			<div class="ui main text container segment">
				<form class="ui form" action="/admin/<%= currentUser.id %>/location_update?_method=PUT" method="POST">
					<div class="three fields">
						<div class="ten wide field">
							<label>Location Information</label>
							<label>Company Location</label>
							<div class="ui fluid action input">
								<input type="text" name="companyLocation" value="<%= userInfo.city %> ,<%= userInfo.country_code %>">
								<a class="ui button"  onclick="getLocation()"><i class="globe icon"></i>Get location</a>
							  </div>
						</div>
					</div>
					<button class="ui orange  button" type="submit">
						<i class="edit icon"></i>Update Location </button>
				</form>
			</div>
		</div>

		<div class="five wide column">

			<div class="ui raised segment">

				<div class="ui items">
					<div class="item">
						<div class="ui small image">
							<img src="<%= userInfo.company_logo %>">
						</div>
						<div class="middle aligned content">
							<a class="header"><%= userInfo.company_title %> </a>
						</div>
					</div>

					<div class="item">
						<div class="ui tiny image">
							<img src="<%= userInfo.avatar %>">
						</div>
						<div class="content">
							<div class="header"><%= userInfo.first_name + " " + userInfo.last_name %></div>
							<div class="meta">
								<span class="price"><%= userInfo.role %></span>
								<% if(userInfo.country_code){ %>
								<span class="stay"><%= userInfo.city + ", " + userInfo.country_code %> 
									 <i class="<%= userInfo.country_code.toLowerCase() %> flag"></i>
									<% } %>
									</span>

							</div>
							<div class="description">
								<p></p>
							</div>
						</div>
					</div>
				</div>

			</div>

			<div id="map"></div>

		</div>
		<div class="ui modal">
			<i class="close icon"></i>
			<div class="ui container">
				<div class="ui segment">


				</div>
			</div>

		</div>
		<script>
			// geolocation 
			var x = document.getElementById("demo");

			function getLocation() {
			  if (navigator.geolocation) {
				navigator.geolocation.getCurrentPosition(showPosition);
			  } else { 
				x.innerHTML = "Geolocation is not supported by this browser.";
			  }
			 
			}
			
			function showPosition(position) {
				console.log(position)
			  $("input[name='companyLocation']").val(position.coords.latitude + "," + position.coords.longitude)
			  initMap("",position.coords.latitude,position.coords.longitude)

			
			}

			// form 

			var form = document.getElementById('password-form');

				form.addEventListener('submit', function (event) {
					event.preventDefault();

					if ($("#newPassword").html() == $("#newPasswordConfirm").html()) {
						form.submit();
					}
					else {
						$("#passwordNotEqual").show()
					}


				});

				// google map

				let map;
				let service;
				let infowindow;
				let locField = ("input[name='companyLocation']").val();
				let curLoc = locField.split(",");

				function initMap(location=locField,lat=curLoc[0],long=curLoc[1]) {
					const loc = new google.maps.LatLng(lat, long);
					infowindow = new google.maps.InfoWindow();
					map = new google.maps.Map(document.getElementById("map"), {
						center: loc,
						zoom: 15,
					});
					const request = {
						query: location,
						fields: ["name", "geometry"],
					};
					service = new google.maps.places.PlacesService(map);
					service.findPlaceFromQuery(request, (results, status) => {
						if (status === google.maps.places.PlacesServiceStatus.OK) {
							for (let i = 0; i < results.length; i++) {
								createMarker(results[i]);
							}
							map.setCenter(results[0].geometry.location);
						}
					});
				}

				function createMarker(place) {
					const marker = new google.maps.Marker({
						map,
						position: place.geometry.location,
					});
					google.maps.event.addListener(marker, "click", () => {
						infowindow.setContent(place.name);
						infowindow.open(map);
					});
				}
		</script>