



  <%- include('partials/form-header') %>
  <div class="ui middle aligned center aligned grid">
    
    <div class="column">
  
      <form id="payment-form"  action="/checkout" method="POST" class="ui large  form">
    
        <div class="ui stacked segment">
              <h2 class="ui orange image header">
    
        <div class="content">
          Payment
        </div>
        
      </h2>
          <div class="field">
            <h2><%= selectedPlan.name %></h2>
            <p>  $(USD)<%= selectedPlan.price %> charged every month </p> 
              <div id="card-element">
                
              </div>

          
              <div class="ui error message">
                <div class="header" id="card-errors"></div>
                </div>
          </div>
        
        <button id="button-text" class="ui fluid large orange submit button" type="submit">Pay</button>
      </div>
  
        <div class="ui error message"></div>
  
      </form>
  
     
    </div>
  </div>
  <script>
    // testing card 4000 0025 0000 3155


$('.message .close')
    .on('click', function() {
      $(this)
        .closest('.message')
        .transition('fade')
      ;
    })
  ;



var stripe = Stripe('<%= public_key %>');

  // Set up Stripe.js and Elements to use in checkout form
var elements = stripe.elements();
var style = {
  base: {
    color: "#32325d",
  }
};

var card = elements.create("card", { style: style });
card.mount("#card-element");

card.on('change', ({error}) => {
  const displayError = document.getElementById('card-errors');
  if (error) {
    displayError.textContent = error.message;
  } else {
    displayError.textContent = '';
  }
});

function stripeTokenHandler(token) {
  var form = document.getElementById('payment-form');
  var hiddenInput = document.createElement('input');
  hiddenInput.setAttribute('type', 'hidden');
  hiddenInput.setAttribute('name', 'stripeToken');
  hiddenInput.setAttribute('value', token.id);
  form.appendChild(hiddenInput);
  var hiddenInputEmail = document.createElement('input');
  hiddenInputEmail.setAttribute('type', 'hidden');
  hiddenInputEmail.setAttribute('name', 'email');
  hiddenInputEmail.setAttribute('value', "<%= email %>");
  form.appendChild(hiddenInputEmail);
  var hiddenInputPrice = document.createElement('input');
  hiddenInputEmail.setAttribute('type', 'hidden');
  hiddenInputPrice.setAttribute('name', 'priceId');
  hiddenInputPrice.setAttribute('value', "<%= selectedPlan.priceId %>");
  form.appendChild(hiddenInputPrice);
  form.submit();
}



/* Create a token when the form is submitted */
var form = document.getElementById('payment-form');

form.addEventListener('submit', function(event) {
  event.preventDefault();

  stripe.createToken(card).then(function(result) {
    if (result.error) {
      var errorElement = document.getElementById('card-errors');
      errorElement.textContent = result.error.message;

    } else {
    
      stripeTokenHandler(result.token);
    }
  })
});



</script>

  </body>
  
  </html>

