<%- include('../../partials/merchant-header') %>
<script src="https://cdn.jsdelivr.net/npm/chart.js@2.8.0"></script>
	<div class="ui container">
	
		
		<% if(merchant.orders.length == 0){%>
		
			<div class="ui raised segment">
				<h2>
				No Orders
					<a href="/merchant/orders/new" class="ui right floated orange inverted button">
					Create A new Order
				</a>
			</h2>
				
			
		</div>
			
		<%}else{%>
		<% if(userInfo.type == "merchant"){%>
		<div class="ui raised segment">
				<h2>
			
					<a href="/admin/<%= currentUser.id %>/orders/new" class="ui right floated orange inverted button">
					Create A new Order
				</a>
			</h2>
				
			
		</div>
		    <% } %>
			
					<% merchant.orders.forEach(function (order,i){ %>
					
		<div class="ui raised segment" >
			<table class="ui very padded table">
				<thead>
					<tr>
						<th>Order Number</th>
						<th>Product</th>
						<th>Order size</th>
						<th>Total Price</th>
						<th>Creator</th>
						<th>Status</th>
						<th>Created At</th>
						<th></th>
					</tr>
				</thead>
				<tbody>

						
					
						<tr>
							<td>
								<%= order.order_number %>
							</td>
							<td>
							<%= order.product.title %>
							</td>
							<td><%= order.order_count %></td>
							<td><%= order.total_price %></td>
							<td><%= order.creator %></td>
							<td>
								
									<%= order.order_status.status %>
								
							</td>
							<td><%= order.created.toDateString()%></td>
							<td>
						
									<button #id="detailButton" class="ui blue button detailButton">
									Details
									</button>
						
							</td>
						</tr>


					

				</tbody>
			</table>
		</div>

						<% }) %>
		<%}%>

		
			
		</div>

<script>
	
		var allButtonsOnPage = document.querySelectorAll('.detailButton');
		allButtonsOnPage.forEach(function(button, index) {
			button.addEventListener('click', function() {
				$("#orderDetails" + index ).slideToggle();
			});
		});

</script>

