<%- include('../../partials/header') %>
<div class="ui container">
			<form class="ui form" action="/admin/<%= currentUser.id %>/orders" method="POST">
	

	<div class="ui two column centered  grid">

		<div class="ten wide column">
			<div class="ui main text container segment">
				<div class="ui huge header"> Create A New Order</div>
		
					<div class="two fields">
						<div class="ten wide field">
							<label>Product</label>
							<select id="productSelect" class="ui fluid dropdown">
								<option value="">Select Product</option>
								<% userInfo.products.forEach(function(product,i){ %>
									<option value="<tr><th><input type='hidden' name='product[id]' value='<%=product._id %>'><%=product.title %></th><th><%=product.vendor %></th><th class='price'><%=product.price %></th></tr>">
										<%= product.title %>
									</option>
									<% }) %>

							</select>
							
							<input  name="customerid" value="" type="hidden">
						</div>
						<div class="two wide field">
							<br>

							<div class="ui orange inline button" id="addProduct">Add</div>
						</div>

					</div>
					<div class="field">
						
						<table class="ui celled table">
							<thead>
								<tr>
									<th>Product Title</th>
									<th>Vendor</th>
									<th>Price</th>
								</tr>
							</thead>
							<tbody>

							</tbody>
							<thead>
								<tr>
									<th></th>
									<th>
										
											<div class="four wide field">
										<input id="orderCount" name="ordercount" value="1" type="number" placeholder="1">
										
										</div></th>
									<th>Total Price
										<span id="totalPrice"></span>
									</th>
								</tr>
							</thead>
						</table>
					</div>
<input id="showPrice" name="totalprice" type="hidden" >
					

					<button class="ui orange  button" type="submit">
						<i class="edit icon"></i>Create Order </button>
				
			</div>

		</div>
	
		<div class="four wide column">
			<div class="ui raised segment">
		
					<div class="field">
						<label>Select Customer</label>
								<select name="customerId" id="customerSelect" class="ui fluid dropdown">
								<option value="">Customer</option>
								<% userInfo.customers.forEach(function(customer,i){ %>
							    <option name="customerId" value="<%=customer.id%>"><%=customer.first_name %>   <%=customer.last_name%></option>
                                 <% }) %>
							</select>
					</div>
					<div class="field">
						<h4 class="ui horizontal divider header">

							Or
						</h4>
						<label> Create A New Customer</label>
						<button id="newCustomer" type="button" class="ui orange button"> New Customer </button>
					</div>

			
			</div>

			<div class="ui raised segment">

				<div class="ui form">
					<div class="field">
						<label>Tags</label>
						<input type="text" name="tags" placeholder="tags">
					</div>

				</div>
			</div>

		</div>

	</div>
				</form>
</div>
	<div class="ui modal">
		<i class="close icon"></i>
		<div class="ui container">
			<div class="ui segment">
				<%- include('../../partials/new-customer-form') %>

			</div>
		</div>

	</div>

	<script>
		var orderProducts = [];
		var totalPrice = 0;
		var productAdded = false;
		

	
				$("#addProduct").click(function() {
					if (!productAdded){
					
			var index = $("#productSelect").val();
			orderProducts.push($("#productSelect").val())
			$("tbody").prepend($("#productSelect").val());
			var priceArray = document.querySelectorAll('.price');
						
			$("#showPrice").val(parseInt($(".price").html()));
			$("#totalPrice").html(parseInt($(".price").html()));
			productAdded = true;			
		}		else{}
		});
	
		
		$("#orderCount").change(function() {
			var totalPrice = parseInt($(".price").html()) * parseInt($("#orderCount").val());
			$("#showPrice").val(totalPrice);
			$("#totalPrice").html(totalPrice);
			
			
			
			
		})
		
		$("#newCustomer").click(function() {
			$('.ui.modal')
				.modal('show');
		})
	</script>

