<%- include('../../partials/header') %>

    <div id="indexContainer" class="ui container centered">
        <div class="ui horizontal segments">
            <div class="ui segment">
                <h4>Total Products</h4>
                <p>
                    <%= products.length %>
                </p>
            </div>
            <div class="ui segment">
                <h4>Collections</h4>
                <select class="ui dropdown">
                    <option value="">Collections</option>
                    <option value="1">Shoes</option>
                    <option value="0">Hats</option>
                </select>
            </div>
            <div class="ui segment">
                <a href="products/new" class="ui primary basic button">Add new product</a>
            </div>
        </div>

        <table class="ui celled table">
            <thead>
                <th>Product title</th>
                <th>Product price</th>
                <th>Department</th>
                <th></th>
            </thead>
            <tbody>

                <% products.forEach(function(product){ %>
                    <tr>
                        <td>
                            <h4 class="ui image header">
                                <img src="<%= product.image %>" class="ui mini rounded image">
                                <div class="content">
                                    <%= product.title %>
                                        <div class="sub header">
                                        </div>
                            </h4>
                        </td>
                        <td>
                            <%= product.price %>
                        </td>
                        <td>
                            <%= product.department %>
                        </td>
                        <td>
                            <a href="/<%= product._id %>/edit" class="ui primary basic button">Edit</a>
							<form id="ProductDeleteFormBtn" action="/admin/products/<%= product._id%>?_method=DELETE" method="POST">
								<button class="ui red button">
									Delete
								</button>
							</form>
                        </td>

                    </tr>

                    <% }) %>

            </tbody>
        </table>

        </div>

