<%- include('../../partials/header') %>


<div id="indexContainer" class="ui container centered">
	<% if(products.length > 0 ){%>

	<div class="ui two column centered grid">
		<div class="ten wide column">
			<div class="ui raised segment">
				<div class="ui divided items" style="background-color: white;">
					<% products.forEach(function(product,i){ %>
					<div class="item product" id="productItem<%= i %>" data-number="<%= i %>">
						<div class="image">
							<img style="height: 150px; padding: 5px;" src="<%= product.image %>" />
						</div>
						<div class="content">
							<a href="/products/<%= product._id %>" class="header">
								<%= product.title %>
							</a>
									<hr>
							<div class="meta">
						
									<strong>$</strong><%= product.price %> 
								/ <strong>$</strong><%= product.retail_price %>
							</div>
						
								<div class="meta">
										<%= product.vendor %>
						
							</div>
							
							<div class="description">
								<p></p>
							</div>
							<div class="extra">
								<div class="ui orange label"><%= product.collections %></div>
								<div class="ui label">
									<i class="tag icon"></i> <%= product.tags[0] %>
								</div>
							</div>
						</div>
					</div>
					<% }) %>
				</div>
			</div>
		</div>
				
		<div class="six wide column">
			<div class="ui raised segment">
					<% if (userInfo.type == "merchant" ){ %>			<h3>
					Search For New Products
				</h3>
			
				<a href="/admin/<%= currentUser.id %>/search" class="ui orange button">Search Products</a>
				<a href="/admin/<%= currentUser.id %>/export" class="ui orange inverted button">Export Products</a>
					
			<% } else {%>
					<h3>
					Create A New Product
				</h3>
				<a href="/admin/<%= currentUser.id %>/products/new" class="ui orange button">
					Create Product
				</a>
			<% } %>
		
			
			</div>
			<div class="ui raised segment" id="details" style="display: none;">
				<% products.forEach(function(product,i){ %>
				<div class="ui styled accordion" style="display: none;" id="productDetails<%= i %>">
					<div class="active title">
						<i class="dropdown icon"></i>
						<strong>Product Details</strong>
					</div>
					<div id="" class="active content">
						<%= product.body %>
					</div>
					<div class="title">
						<i class="dropdown icon"></i>
						What kinds of dogs are there?
					</div>
					<div class="content">
						<p>
							There are many breeds of dogs. Each breed varies in size and
							temperament. Owners often select a breed of dog that they find to be
							compatible with their own lifestyle and desires from a companion.
						</p>
					</div>
					<div class="title">
						<i class="dropdown icon"></i>
						How do you acquire a dog?
					</div>
					<div class="content">
						<p>
							Three common ways for a prospective owner to acquire a dog is from pet
							shops, private owners, or shelters.
						</p>
						<p>
							A pet shop may be the most convenient way to buy a dog. Buying a dog
							from a private owner allows you to assess the pedigree and upbringing of
							your dog before choosing to take it home. Lastly, finding your dog from
							a shelter, helps give a good home to a dog who may not find one so
							readily.
						</p>
					</div>
					<div class="ui segments">
						<div class="ui segment">
						
								<button class="ui orange button">
								Edit
							</button>
						
						
						
						 <button onclick="showDeleteModal(<%= i %>)" class="ui right floated red inverted button">
								Delete
							</button>
						
						
						</div>
						<div class="ui secondary segment">
							<p>Secondary Content</p>
						</div>
					</div>
				</div>
			
	<div class="ui basic modal" id="deleteModal<%= i%>">
  <div class="ui icon header">
    <i class="trash alternate icon"></i>
    Delete This Product?
  </div>
  <div class="content">
    <p>This will remove the product from your product list!</p>
  </div>
  <div class="actions">
	   	<form action="/admin/<%=currentUser.id %>/products/<%=product._id %>?_method=DELETE" method="POST">
    <div class="ui red basic cancel inverted button">
      <i class="remove icon"></i>
      No
    </div>
	 
    <button class="ui green ok inverted button">
      <i class="checkmark icon"></i>
      Yes
    </button>
	  	</form>
  </div>
</div>

		
				<% }) %>
			</div>
		</div>
	</div>

	<% }else{ %>
	<div class="ui container">
		<div class="ui placeholder segment">
			<div class="ui icon header">
				<i class="search icon"></i>
				You Have Added No Products, Yet..
			</div>
			<% if (userInfo.type == "merchant" ){ %>
				<a href="/admin/<%= currentUser.id %>/search" class="ui primary button">Search Products</a>
			<% } else {%>
				<a href="/admin/<%= currentUser.id %>/products/new" class="ui primary button">Add a Product</a>
			<% } %>
		
			
		</div>
	</div>
		
	<% } %>

	<script>
		
		function showDeleteModal(i){
				$('#deleteModal' + i)
  .modal('show')
;
		}
	
		
		var allButtonsOnPage = document.querySelectorAll('.detailButton');
		allButtonsOnPage.forEach(function (button, index) {
			button.addEventListener('click', function () {
				$('#extraContent' + index).slideToggle();
			});
		});
	</script>
</div>

<script>
	var allItems = document.querySelectorAll('.product');
	allItems.forEach(function (item, index) {
		item.addEventListener('click', function () {
			$('.product').css('box-shadow', 'none');
			$('#details').show();
			$('.accordion').hide();
			$('#productItem' + index).css('box-shadow', '0px 0px 10px 0.2px orange');
			$('#productItem' + index).css('back', '#eaeaea85');
			$('#productDetails' + index).show();
		});
	});

	$('.ui.accordion').accordion();
</script>