<%- include('../../partials/header') %>

	<div class="ui centered container">
		<div class="ui centered raised segment product-page-segment" id="productPageSegment">
			<div class="ui centered grid">
				<div class="ten wide column">
					<div class="container" style="">
						<p></p>

						<img class="ui fluid image" src="<%= product.image %>" />
					</div>
				</div>
				<div class="six wide column">
					<div class="container">
						<div class="ui segment product-page-detail">
							<h1 class="ui header">
								<%= product.title %>
							</h1>

							<p>By <strong><%= product.vendor %></strong>
								<a  class="ui labeled button" tabindex="0">
									<a href="/admin/<%= currentUser.id %>/follow/<%= product.creator.id %>" class="ui small red label">
									  <i class="heart icon"></i> Follow
									</a>
								
								</a>
							
							</p>
							<div class="review-stars">
								<span style=" font-size: 1.4em;" class="ui rating" data-rating="<%= product.rating %>" data-max-rating="5"></span>
								<span class="rating-text">
									(<%= product.reviews.length %>)
								</span>
							</div>

							<div class="ui price-section">
								<span class="unit-price"
									>Price:
									<p>
										<span class="price-text">$<%= product.price %></span>
									</p>
								</span>

								<span class="retail-price"
									>Retail Price:
									<p>
										<span class="price-text">$<%= product.retail_price.substring(0,6)%></span>
									</p>
								</span>
							</div>

							<h4 class="ui horizontal divider header"></h4>
							<p>
								<%- product.body %>
							</p>
							<form action="/admin/<%= currentUser.id %>/products/<%= product._id %>" method="POST">
									<button class="ui labeled icon orange button">
								<i class="add icon"></i>
								Add Product
							</button>
							</form>
						

							<h4 class="ui horizontal divider header">
								Details
							</h4>

							<table class="ui definition table">
								<tbody>
									<tr>
										<td class="two wide column">Size</td>
										<td>1" x 2"</td>
									</tr>
									<tr>
										<td>Weight</td>
										<td>6 ounces</td>
									</tr>
									<tr>
										<td>Color</td>
										<td>Yellowish</td>
									</tr>
									<tr>
										<td>Odor</td>
										<td>Not Much Usually</td>
									</tr>
								</tbody>
							</table>
						</div>
					</div>
				</div>
			</div>
			<%- include('../../partials/comments') %>
		</div>
	</div>
</div>

<%- include('../../partials/footer') %>