<%- include('../../partials/header') %>
<div class="ui product-search container">
	<div class="ui right labeled input" style="width: 100%;">
		<input id="searchbar" name="term" class="prompt" type="text" placeholder="Search products..." />
		<button id="search" class="search-button ui medium label orange">
			<i class="search icon"></i>
			search
		</button>
		<%- include('../../partials/filter-button') %>
	
</div>
	</div>
	<div class="results"></div>
	<div class="ui big labels search">
		<div class="ui red label">
			All
		</div>
		<div class="ui basic orange search label">
			<i class="ui home icon"></i>
			Home
		</div>
		<div class="ui basic orange search label">
			<i class="ui paint brush icon"></i>
			Art
		</div>
		<div class="ui basic orange search label">
			<i class="ui eye icon"></i>
			Beauty
		</div>
		<div class="ui basic orange search label">
			<i class="ui tablet alternate icon"></i>
			Tech & Gadgets
		</div>
		<div class="ui basic orange search label">
			<i class="ui cut icon"></i>
			Fashion
		</div>
		<div class="ui basic orange search label">
			<i class="ui wrench icon"></i>
			Tools
		</div>
		<div class="ui basic orange search label">
			<i class="ui wrench icon"></i>
			Jewelry
		</div>
		<%- include('../../partials/more-button') %>
		
	</div>
</div>
<div class="ui four column doubling grid container">
	<% for( var i = 0; i < products.length; i++) { %>
	<div class="column centered">
		<div class="ui card">
			<div class="image">
				<img src="<%= products[i].image %>" />
			</div>
			<div class="content">
				<a href="/products/<%= products[i]._id %>" class="header">
					<%= products[i].title %>
				</a>

				<div class="meta">
					<p>
						By:
						<strong>
							<%= products[i].vendor %> 
						</strong>
					
					</p>
				</div>
				<% if (products[i].reviews.length > 0){ %>
					<div class="review-stars">
						<span style=" font-size: 1em;" class="ui rating" data-rating="<%= products[i].rating %>" data-max-rating="5"></span>
						<span class="rating-text">
							(<%= products[i].reviews.length %>)
						</span>
					</div>

				<% } %>
			
				<div class="description">
					<div class="left floated">
						<b>Price</b>
						<p>
							<%= "$ " + products[i].price %>
						</p>
					</div>
					<div class="right floated">
						<b>Retail Price</b>
						<p>
							<%= "$ " + products[i].retail_price.substring(0,4) %>
						</p>
					</div>
				</div>
			
			</div>
			<hr>
					<div class="extra content shipping-info" style="margin-top: -20px;">
					<div class="left floated">
					
						<b>Shipping Cost</b>
						<p>
							<%= "$ " + products[i].shipping %>
						</p>
					</div>
					<div class="right floated" style='margin-left: 15px;'>
						<b>Shipping  time</b>
						<p>
							<%= "$ " + products[i].delivery_time %>
						</p>
					</div>
				</div>
			<div class="extra content">
				<span class="left floated like">
					<i class="like icon"></i>
					Like
				</span>

				<% var hideForm = false %> <% if(merchantProducts == undefined) { %> <% }else { %>
				<% merchantProducts.forEach(function(merchantProduct){ %> <% if(products[i].title ==
				merchantProduct.title){ %> <% return hideForm = true%> <% }}) %> <% if (hideForm) {
				%>

				<span class="right floated star">
					<i class="check icon"></i>
					Product imported
				</span>
				<% } else{ %>

				<form
					id="importForm<%= i %>"
					action="/admin/<%= currentUser.id%> /search"
					method="POST"
				>
					<input type="hidden" name="id" value="<%= products[i]._id %>" />

					<span class="right floated add-button">
						<button>
							<i class="plus icon add-product"></i>
							Add product
						</button>
					</span>
				</form>

				<% } }%>
			</div>
		</div>
	</div>

	<% }; %>
</div>

<script>
	$('.ui.rating').rating();

	function hideForm(i) {
		$('#importForm' + i).hide();
	}
	var term = $('#searchbar').val();
	console.log(term);
	$('#search').click(function () {
		term = $('#searchbar').val();
		setTimeout(function () {
			document.location.href = '/admin/<%=currentUser.id%>/search/' + term;
		}, 10);
	});
	$('#filter').keyup(function () {
		term = $('#search').val();
		setTimeout(function () {
			document.location.href = '/admin/<%=currentUser.id%>/search/' + term;
		}, 4000);
	});
	$('.ui.dropdown').dropdown();
</script>